<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Website Application for Optimal Flight Selection (WAOFS)</h1>
  <h2>Wenrui Huang (UNI:wh2353) and Hengming Dai (UNI:hd2337)</h2>
  <h3>Welcome, Admin!              <p><a href="/logout">Logout: Click here</a></p></h3>


<p><a href="/list_airports">View/Manage all available airports: Click here</a></p>
<p><a href="/list_flights">View/Manage all available flight info: Click here</a></p>
<p><a href="/list_flights_delay">View/Manage all available delay info: Click here</a></p>
<p><a href="/list_airplanes">View all available airplane types: Click here</a></p>
<p><a href="/search_by_link_to">Show link_to table: Click here</a></p>
<p><a href="/list_flies">View/Manage flies on all available dates</a></p>
<p><a href="/list_agencies">View/Manage all available agencies: Click here</a></p>
<p><a href="/list_ids">View/Manage all registered user_ids: Click here</a></p>
<p><a href="/manage_list_popular_agency">View most popular agencies: Click here </a></p>
<p><a href="/list_search_history">View User Search history </a></p>
<p><a href="/manage_comments">Manage comments: Click here</a></p>
<p><a href="/list_user_choose">View which agency have been chosen by each user_ids: Click here</a></p>


</body>


</html>
