<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Website Application for Optimal Flight Selection (WAOFS)</h1>
  <h2>Wenrui Huang (UNI:wh2353) and Hengming Dai (UNI:hd2337)</h2>
  <form method="POST" action="/login">
<p>User ID: <input type="int" name="user_id"> <input type="submit" value="Login"></p>
<p><a href="/register">First time user? Register here</a></p>
<p><a href="/comments">View Comments: Click here</a></p>
</form>


  <form method="POST" action="/admin">
<p><br><br><br><br><br>Admin? Login Here: <br>Admin ID: <input type="int" name="admin_id"> <input type="submit" value="Login"></p>
</form>





</body>


</html>

