<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Website Application for Optimal Flight Selection (WAOFS)</h1>
  <h2>Wenrui Huang (UNI:wh2353) and Hengming Dai (UNI:hd2337)</h2>
  <h3>Welcome, Guest!</h3>  



<p><a href="/list_popular_agency"> View most popular agency: Click here </a></p>
<p><a href="/search">Search: Click here</a></p>
<p><a href="/comments">Leave a comment: Click here</a></p>
<br><br><br><br><br>

<p><a href="/logout">Logout: Click here</a></p>





</body>


</html>
