<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Website Application for Optimal Flight Selection (WAOFS)</h1>
  <h2>Smart Search Engine (SSE)</h2>
  


<p><a href="/search_date">Search by Date: Click here</a></p>
<p><a href="/search_flight">Search by Flight number: Click here</a></p>
<p><a href="/back_to_main">Back to Main Menu: Click here</a></p>



<form method="POST" action="/add_choose_relationship">
<p>Take the survey below to win a free foot-long Subvay Sandwich!
<br><br><br>Which travel agency did you use for booking?
<br>agency: <input type="text" name="agency_name"><br><input type="submit" value="Submit"></p>

</form>




</body>


</html>
